body {
    width: 100%; }

header {
    text-align: center;
    border-bottom: 1px solid #000; }

section div {
    text-align: center; }

h2 {
    text-align: center; }

section {
    padding: 10px; }

table {
    border-collapse: collapse; }

tr {
    border-bottom: 1px solid black; }

td {
    padding: 5px 10px; }

table a {
    padding-left: 7px; }

.label {
    font-weight: 900; }

.detail {
    line-height: 1.2em; }

.status {
    text-align: right;
    font-weight: 900; }

.level {
    font-weight: 900;
    text-align: right; }

.pass::before {
    color: green;
    margin-right: 6px;
    content: "\2714 "; }
.pass::after {
    color: green;
    content: "[passed]"; }

.skip::before {
    color: grey;
    margin-right: 6px;
    content: "X"; }
.skip::after {
    color: grey;
    content: "[skipped]"; }

.fail::before {
    color: red;
    margin-right: 6px;
    content: "X"; }
.fail::after {
    color: red;
    content: "[failed]" }
